@import "partials/const";
@import "partials/base";

@import "partials/header";
@import "partials/footer";
@import "partials/slideshow";
@import "partials/summerprog";
@import "partials/apply";
@import "partials/costs";
@import "partials/accomodation";
@import "partials/enquiry";

@import "partials/about";
