<!doctype html>
{% include "head.html"%}


  <div class="wrapper cf {{page}}">
    <div class="topBar"></div>
    {% include "header.html"%}

  <div class="summary" style="width:72%;margin-left:100px">
    
    <div class="cf">
      <div class="photo" style="text-align:center">
        <img src="photos/HelenAbout.png">
        Helen Auckland, Director
      </div>
     
      <div class="bio" style="margin-top:30px" >
        <h2>ABOUT GLOBAL PATHS</h2>
        <h4>After 7 years in Pittsburgh USA as an international student recruiter and Admissions Officer for Duquesne University, in 2011 I moved to my favourite British city, Bath, to start up the Global Paths Summer (GPS) Programme.
        <p>Alongside Global Paths, I'm a Placements Officer at the University of Bath, helping students find work placements and prepare for the workplace.
        </h4>
      </div>
    </div>
    
    <div class="cf">
    <br>
    <h2>Honesty, no bias, real-life experience</h2>
    High school students are exposed to a lot of university marketing. When you’re unsure of what to study and do in life, it’s easy to get drawn in.
    
    <p>GPS students work out what they want from a university through powerful, reflective exercises with no university sales pitches.
    <p>They live on 4 university campuses and visit 3 others to experience what life is like as a student in different places.
    <p>At the end of it they have a clearer idea of the kind of university environment that is right for them.
    <br>

    <h2>Essential, professional life skills</h2>
    Sometimes, it's not until you enter the workplace that you truly understand the necessity of excellent communication skills, presentation skills and problem solving.

    <p>GPS students get a feel for what they’ll need in the workplace and they get the chance to build these essential skills. 
    <br>

    <h2>My family and friends</h2>
    The GPS team is made up of the people who are most important to me. I wouldn’t create a company working with anyone else ….  

    <p>My father was a Professor and Dean at Manchester University and has launched over 30 different companies. Who better to teach the Enterprise Project?

    <p>My friend Ofelia treks  from Honduras to the UK every year to be my right hand in running the program. She is super woman. No kidding.

    

    <div class="cf">
      <div class="photo">
        <img src="photos/ProfAucklandAbout.png">
        Prof. Auckland, <br>Enterprise Project
      </div>

      
      <div class="photo" style="margin-left:50px">
        <img src="photos/OfeliaPonceAbout.png">
        Ofelia Ponce, <br>Head of Student Life
      </div>
    </div>

    <br>
    <h2>Presenters and Panelists</h2>
    One of the things that makes GPS unique is the fact that students talk with real-life, successful, senior professionals. They have different backgrounds and are amazing people. No sales pitches. They tell it how it is.

    <div class="cf">
    <div class="photoPanelist">
        <img src="photos/Bert.png">
        <h5>Bert Dorazio,<br>
        Nestle Purina</h5>
    </div>
    <div class="photoPanelist">
        <img src="photos/Shubhie.png">
        <h5>Shubhie Panicker,<br>
        Google</h5>
    </div>
    <div class="photoPanelist">
        <img src="photos/TonyStimsonAbout.png">
        <h5>Tony Stimson,<br>
        IBM</h5>
    </div>
    <div class="photoPanelist">
        <img src="photos/MartinHeneryAbout.png">
        <h5>Martin Henery,<br>
          Manchester School of Business</h5>
    </div>
     <div class="photoPanelist">
        <img src="photos/GwynMcCormackAbout.png">
        <h5>Gwyn McCormack,<br>
          Positive Eye</h5>
    </div>
    <div class="photoPanelist">
        <img src="photos/Robbie.png">
        <h5>Robert Muirhead,<br>
          Entrepreneur</h5>
    </div>
    </div>
    <br>

    <h2>Creative Team</h2>

    <div class="cf">
    <div class="photoPanelist">
        <img src="photos/Rob.png">
        <h5>Rob Auckland,<br>
        Photographer</h5>
    </div>
    <div class="photoPanelist">
        <img src="photos/KellyM.png">
        <h5>Kelly Martin,<br>
        Creative Consultant</h5>
    </div>
    </div>

    <h2>Resident Guidance Counselors</h2>
    Each year, we invite guidance counselors to be a part of the programme: To share their knowledge and to experience UK universities. If you're a guidance counselor and interested, drop me an email to find out more: hrauckland@globalpaths.co.uk

  </div> 
  </div>

  {% include "footer.html"%}

</body>
