<!doctype html>
{% include "head.html"%}


<div class="wrapper cf {{page}}">
    <div class="topBar"></div>
    {% include "header.html"%}

    <div class="summary" style="width:72%;margin-left:100px">

        <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/HelenAbout.png">
              Helen Auckland, Director
            </span>

            <span class="bio" style="margin-top:30px" >
                <h2>OUR TEAM</h2>
                <h4>Helen worked as Assistant Director of International Admissions at Duquesne University, USA for over 6 years.
She moved back to the UK in 2012 to work at the University of Bath where she is a Placements Officer, helping students to gain practical work experience to become more employable after graduation.

                <p>Helen has spent a lot of her life studying and working abroad so she understands from personal experience how valuable it is. 

                </p>Having worked with international students for the past 12 years, she knows the challenges you face and can offer her expertise to ensure you are on the path that is right for you! 
                </h4>
            </span>
        </div>
    
        <div class="cf">
            <br>
            
            <h2>Ofelia Ponce, Student supervisor</h2>
            Ofelia studied her Undergraduate and Postgraduate degrees at Duquesne University, USA. As a student, she worked as Resident Assistant in the student accommodation. 
            </p>Ofelia and her team are in charge of Global Paths’ student supervision. They live and travel with you, accompany you to class and supervise evening activities. 
            </p>Ofelia has worked with Global Paths for the past 5 years.  When not in the UK, she lives in Honduras and is Head of Investment Promotion in the Ministry of Economic Development. 


        </div>

        <div class="cf">
          <span class="photo">
            <img src="photos/ProfAucklandAbout.png">
            Prof. Auckland, <br>Enterprise Project
          </span>

          <span class="photo" style="margin-left:50px">
            <img src="photos/OfeliaPonceAbout.png">
            Ofelia Ponce, <br>Head of Student Life
          </span>
        </div>
        <div class="cf">
            <br>
            
            <h2>Professor Auckland, Project Teacher </h2>
            <p>David Auckland was Dean of the Graduate School of Science, Engineering and Medicine at Manchester University.  With a passion for how ideas transfer to the marketplace, he set up the first UK University business incubator producing over 30 companies per year. He proceeded to become Professor of Business Creation. Prof Auckland  identified a particular process of activities in the successful companies and this was the basis for the University’s Master’s in Innovation and Enterprise. Different aspects of this process have been implemented into hundreds of companies ever since. 

            </p>Professor Auckland uses this process as the basis for the Global Paths project, encouraging you to solve problems, innovate, work as a team and communicate. 
            
            <h2>Presenters and Panelists</h2>
            One of the things that makes GPS unique is the fact that you talk with real-life, successful professionals. They share their own career paths with you to inspire and to help you think about what's important in life. 
        </div>
        <div class="cf">
            <div class="photoPanelist">
                <img src="photos/Bert.png">
                <h5>Bert Dorazio,<br>
                Nestle Purina</h5>
            </div>
            <div class="photoPanelist">
                <img src="photos/Shubhie.png">
                <h5>Shubhie Panicker,<br>
                Google</h5>
            </div>
            <div class="photoPanelist">
                <img src="photos/TonyStimsonAbout.png">
                <h5>Tony Stimson,<br>
                IBM</h5>
            </div>
            <div class="photoPanelist">
                <img src="photos/MartinHeneryAbout.png">
                <h5>Martin Henery,<br>
                  Manchester School of Business</h5>
            </div>
             <div class="photoPanelist">
                <img src="photos/GwynMcCormackAbout.png">
                <h5>Gwyn McCormack,<br>
                  Positive Eye</h5>
            </div>
            <div class="photoPanelist">
                <img src="photos/Robbie.png">
                <h5>Robert Muirhead,<br>
                  Entrepreneur</h5>
            </div>
        </div>

        <div class="cf">
            <h2>Creative Team</h2>
        </div>
        <div class="cf">
            <div class="photoPanelist">
                <img src="photos/Rob.png">
                <h5>Rob Auckland,<br>
                Photographer</h5>
            </div>
            <div class="photoPanelist">
                <img src="photos/KellyM.png">
                <h5>Kelly Martin,<br>
                Creative Consultant</h5>
            </div>
        </div>

        <div class="cf">
        
            <h2>What students and parents say</h2>
            GPS is popular because it's unique. There's no other programme that equips students with the knowledge and skills needed for life.  Don't take my word for it though - <span class="blueTitle"><a href="testimonials">read what some of the parents and students have to say.... </a></span>

        </div>
    </div>
</div>

{% include "footer.html"%}

</body>
