{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Accepted Students</h2>
<h4>Congratulations on your recent acceptance to Global Paths 2015!<p>
The next steps for you are to:
<ul>
<li>Reserve a space by submitting your enrolment fee of £600<br><br>
<li>Check if you will need to <a href="https://www.gov.uk/check-uk-visa">apply for a visa</a><br><br>
<li>Book your flight and send us a copy of the itinerary<br><br>
<li>Complete and submit the <a href="studentdetailform">Student Details Form </a>with your parents<br><br>
</ul>

You and your parents may have questions before you confirm your attendance. The below information answers some of the frequently asked questions.<br><br>

<p><div><strong>How many students will be attending GPS 2015?</strong></div>
There will be up to 15 students attending this year’s course.

<p><div><strong>Where is everyone from?</strong></div>
So far accepted students are from: China, Malaysia, India, South Africa, Honduras and USA.

<p><div><strong>How big are the Enterprise Project groups?</strong></div>
We plan for the groups to be 3 people. However, it depends on the ideas that the group comes up with in the brainstorm workshop. The important thing is that you are working on an idea that you believe in.

<p><div><strong>Who will collect me at the airport?</strong></div>
Each of you will be greeted by one of the GPS staff in the Arrivals area of London Heathrow airport on Monday 20th July.  We will hold your name on a card and be wearing a GPS t-shirt. 
There will be a morning group and an afternoon group so you may need to wait with a staff member until the rest of the students arrive in your group. We will have more details a bit later on when we have received everyone’s flight details.

<p><div><strong>When is the deadline to reserve my space?</strong></div>
Reserve your space as soon as you can once you are admitted. We do limit the spaces on this programme and we work on a first-come-first served basis.

<p><div><strong>Who are the teachers? </strong></div>
Professor David Auckland teaches the Enterprise Project. He was a professor of Engineering and of Business at Manchester University. He developed Manchester University’s Masters of Enterprise course and has helped launch hundreds of small companies.<p>
Helen Auckland coordinates the Life Project.  She worked as Assistant Director of International Admissions at Duquesne University in the USA and is now a Placements/Internship Officer in the School of Management at the University of Bath.


Speakers and contributors include:
<ul>
<li>Bert Dorazio, Head of Organisational Development at Nestle Purina
<li>Shubhie Panicker, Software Engineer at Google
<li>Tony Stimson, Marketing & Sales (Channel Partner Manager) at IBM
<li>Gwyneth McCormack, CEO at Positive Eye
<li>Students and alumni from US and UK universities
</ul>

<p><div><strong>Who will travel and live with us?</strong></div>
Ofelia Ponce is the Head of Student Life for Global Paths. She worked as a Resident Assistant at Duquesne University for 6 years and studied as an undergraduate and graduate in the USA.
Ofelia and two colleagues will live in the same student accommodation as the group. 
Ofelia and her team will travel with you throughout the UK. Most of the time, you will travel by bus.

<p><div><strong>What is the accommodation like? </strong></div>
Most student accommodation in the UK is in the form of small flat shares. This means that you will either have your own room or twin room (sharing with one other) with en-suite bathroom. You will share a kitchen and common space with the rest of the group and staff.

<p>	<div><strong>Can I connect to a student who has attended GPS in the past?</strong></div>
Absolutely! Let us know and we’ll connect you to one of our GPS Ambassadors.<br><br><br>

Any other questions that we haven't answered? Contact us today:<br>
&nbsp;&nbsp; hrauckland@globalpaths.co.uk<br>
&nbsp;&nbsp; +44 77142 44112

</h4>

</div>
{% endblock %}
