{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Accepted Students</h2>
<h4>Congratulations on your recent acceptance to Global Paths 2014!<p>
The next steps for you are to:
Reserve a space by submitting final payment of fees
Check if you will need to apply for a visa  
Book your flight and send us a copy of the itinerary
Complete and submit the Student Details Form with your parents

You and your parents may have questions before you confirm your attendance. The below information answers some of the frequently asked questions.<br><br>

<p><div class="blueTitle">How many students will be attending GPS 2014?</div>
There will be 10 -15 students attending this year’s course.

<p><div class="blueTitle">Where is everyone from?</div>
So far accepted students are from: Japan, Honduras, UK, Singapore, India, Mexico, Azerbaijan, Phillipines and Bulgaria.

<p><div class="blueTitle">How big are the Global Enterprise Project groups?</div>
We plan for you to work in groups of 2. However, it depends on the ideas that come up in the brainstorm workshop. Everyone needs to work on something they are interested in so this may mean some groups are larger than 2.

<p><div class="blueTitle">Who will collect me at the airport?</div>
Each of you will be greeted by one of the GPS staff in the Arrivals area of London Heathrow airport on Tuesday 15th July.  We will hold your name on a card and be wearing a GPS t-shirt. 
There will be a morning group and an afternoon group so you may need to wait with a staff member until the rest of the students arrive in your group. We will have more details in June when we have received everyone’s flight details.

<p><div class="blueTitle">When is the deadline to reserve my space?</div>
Reserve your space as soon as you can as we are limiting the spaces on the programme. You should have received an invoice outlining the payment details.

<p><div class="blueTitle">Who are the teachers? </div>
Professor David Auckland teaches the Global Enterprise Project. He was a professor of Engineering and of Business at Manchester University. He developed Manchester University’s Masters of Enterprise course and has helped launch hundreds of small companies.


Helen Auckland coordinates the Global Life Project.  She worked as Assistant Director of International Admissions at Duquesne University in the USA and is now a Placements/Internship Officer in the School of Management at the University of Bath.


Speakers and contributors include:
<ul>
<li>Bert Dorazio, Head of Organisational Development at Nestle Purina
<li>Shubhie Panicker, Software Engineer at Google
<li>Lubna Faqih, University Guidance Counselor at Jeddah Knowledge International School
<li>Tony Stimson, Marketing & Sales (Channel Partner Manager) at IBM
<li>Students and alumni from US and UK universities
</ul>

<p><div class="blueTitle">Who will travel and live with us?</div>
Ofelia Ponce is the Head of Student Life for Global Paths. She worked as a Resident Assistant at Duquesne University for 6 years and studied as an undergraduate and graduate in the USA.
Ofelia and two colleagues will live in the same student accommodation as the group. 
Ofelia and her team will travel with you throughout the UK. Most of the time, you will travel by bus.

<p><div class="blueTitle">What is the accommodation like? </div>
Most student accommodation in the UK is in the form of small flat shares. This means you will have your own room and ensuite bathroom and you will all share a bathroom and common room.

<p>	<div class="blueTitle">Can I connect to a student who has attended GPS in the past?</div>
Absolutely! Let us know and we’ll connect you to one of our GPS Ambassadors.<br><br><br>

Any other questions that we haven't answered? Contact us today:<br>
&nbsp;&nbsp; hrauckland@globalpaths.co.uk<br>
&nbsp;&nbsp; 0044 77142 44112

</h4>

</div>
{% endblock %}
