{% extends "slideshow_base.html" %}

{% block photos %}
<img src="photos/accom1.png" id="slide-0" class="opaque" alt="xyz"/>
<img src="photos/accom2.png" id="slide-1" alt="xyz"/>
<img src="photos/accom3.png" id="slide-2" alt="xyz"/>
<img src="photos/accom4.png" id="slide-3" alt="xyz"/>
<img src="photos/accom5.png" id="slide-4" alt="xyz"/>
{% endblock %}

{% block centerblock %}
<div class="summary">
  <h2 class="title">Accommodation</h2>
  <h4>Global Paths gives you a taster of university life. You live on the campuses of 3 UK universities: </h4>
  <ul class="itemList">
    <li><a href="http://www.http://www.kcl.ac.uk/index.aspx">King's College London</a><br>
    <li><a href="http://www.bath.ac.uk">University of Bath 
    <li><a href="http://www.manchester.ac.uk">University of Manchester</a><br>
  </ul>
<p>Each accommodation is different but usually youhave your own individual en-suite room with a shared social and kitchen space. 
</div>
{% endblock %}
