{% extends "slideshow_base.html" %}

{% block photos %}
<img src="photos/accom1.png" id="slide-0" class="opaque" alt="xyz"/>
<img src="photos/accom2.png" id="slide-1" alt="xyz"/>
<img src="photos/accom3.png" id="slide-2" alt="xyz"/>
<img src="photos/accom4.png" id="slide-3" alt="xyz"/>
<img src="photos/accom5.png" id="slide-4" alt="xyz"/>
{% endblock %}

{% block centerblock %}
<div class="summary">
  <h2 class="title">Accommodation</h2>
  <h4>To get the true experience of student life, GPS participants live together in university accommodation at 4 of the UK's top university campuses. <br><br>Accommodation varies from one university to another:<br></h4>
  <ul class="itemList">
    <li><a href="http://www.lse.ac.uk/study/studyHome.aspx">London School of Economics (LSE)</a><br>Shared room (2-4 students) with a shared en-suite bathroom.</li>
    <li><a href="http://www.bath.ac.uk">University of Bath</a><br>Individual rooms within a flat share. Shared bathroom.</li>
    <li><a href="http://www.birmingham.ac.uk/index.aspx">University of Birmingham</a><br>Individual rooms with a shared bathroom.</li>
    <li><a href="http://www.manchester.ac.uk">University of Manchester</a><br>Individual rooms within a flat share. Shared bathroom.</li>
  </ul>
</div>
{% endblock %}
