{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Apply</h2>
<h4>To apply to GPS 2015, please submit the following items:<br></h4>
<ul class="itemList">
	<li><a href="applicationform">Online Application Form</a></li>
	<li><a href="fee">Application Fee</a></li>
	<li><a href="mostrecenttranscript/listofgrades">Most recent transcript/list of grades from subjects you are studying currently</a></li>
</ul>
	Once we have reviewed your application, if it meets our requirements, we will schedule a 15- minute Skype video interview with you. </h4>
</div>
{% endblock %}
