{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Apply</h2>
<h4>To apply to GPS 2015, please submit the following items:<br></h4>
<ul>
	<li><a href="applicationform">Online Application Form</a></li>
	<li><a href="fee">£25 Application Fee</a></li>
	<li>Most recent transcript of grades from subjects you are currently studying. If you do not have this, send us a list of your grades and subjects. We will verify these with you counselor.</li>
</ul>
	Once we have reviewed your application, if it meets our requirements, we will:<br></h4>
<ul>
	<li>Contact your counselor for a character reference</li>
	<li>Schedule a 15 minute Skype interview with you</li>
	
</div>
{% endblock %}
