{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Apply</h2>
<h4>To apply to GPS 2015, please submit the following items:<br></h4>
<ul class="itemList">
	<li><a href="applicationform">Online Application Form</a></li>
	<li><a href="fee">Application Fee</a></li>
</ul>
<h4>Please submit your letter via email to hrauckland@globalpaths.co.uk<br><br>
	Once we have reviewed your complete application, if it meets our requirements, we will schedule a 15- minute Skype video interview with you. We will email you to inform you of the decision after your interview.</h4>
</div>
{% endblock %}
