<!doctype html>
{% include "head.html"%}
<body>
  <div class="wrapper cf {{page}}">
    <div class="topBar"></div>
    {% include "header.html"%}

  <div class="summary">
    <h2 class="title">CONTACT US</h2>
    <h3> Questions about Global Paths?  Please contact us: <h3>
    <div class="bio-row cf">
      <div class="photo">
        <img src="photos/Helen.png">
      </div>
     
      <div class="bio">
        <h4><strong>Helen Auckland</strong><br></h4>
        <h5>Email:&nbsp;&nbsp;&nbsp; hrauckland@globalpaths.co.uk<br>
          Phone:&nbsp; +44 77142 44112<br>
          Skype:&nbsp;&nbsp; hrauckland</h5>
      </div>
    </div>
    <div class="bio-row cf">
      <div class="photo">
        <img src="photos/Ofelia.png">
      </div>
      <div class="bio">
        <h4><strong>Ofelia Ponce</strong><br><h4>
        <h5>Email:&nbsp;&nbsp;&nbsp; oponce@globalpaths.co.uk<br>
        Phone:&nbsp; +504 318 91220<br>
        Skype:&nbsp;&nbsp; ofelita2.6</h5>
      </div>
    </div>
  </div>

  {% include "footer.html"%}

</div>
</body>
