{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Contact Us</h2>
<h4>We'd be delighted to answer any questions you may have by phone, email or online form:<br></h4>
<b>Phone:</b>
<br>
+44 77142 44112
<br><br>
<b>Email:</b>
<br>
hrauckland@globalpaths.co.uk
<br><br>
<div>
  <iframe class="embeddoc" src="https://docs.google.com/forms/d/16_UXLuSbLGTXgcdmbGTXvo_IwGKoM7t0yg7RZjlkytw/viewform" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</div>
{% endblock %}



