{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Costs</h2>
<h4>The cost of GPS 2016 is £2,895 per student. If you apply before 1st March, 2016, you receive a 20% early bird discount so the price is £2,316.
  <br><br>Cost includes:<br></h4>
  <ul class="itemList">
    <li>Accommodation for 10 nights </li>
    <li>Daily breakfast, light lunch, main dinner</li>
    <li>1 group pick-up from London Heathrow airport</li>
    <li>1 group drop-off to Manchester airport</li>
    <li>Transportation throughout the UK</li>
    <li>All arranged cultural activities</li>
    <li>All classes, workshops and presentations</li>
  </ul>
  <h4>This does not include:</h4>
  <ul class="itemList">
    <li>Return flight to the UK</li>
    <li>Extra snacks or food outside of arranged meals</li>
    <li>Transportation from/to any location other than arranged airport pick-up/drop-offs</li>
    <li>Souvenirs and shopping</li>
  </ul>

  <h2 class="title">Refunds</h2>
  When you sign up to the course, we ask you to pay a non-refundable deposit of £900 to reserve your place on the course. It is non-refundable as it covers the deposits (accommodation, minibus, meals) that we have to make for the course. 

  <p>If for any reason you cannot attend the summer programme, we will refund you the full fees, minus the deposit, unless you cancel within 30 days of the programme starting, in which case, unfortunately we cannot refund any of the fees. <br><br>

</div>    
{% endblock %}
