{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Costs</h2>
<h4>The cost of GPS 2014 is £2,795 per student.
  <br><br>This includes:<br></h4>
  <ul class="itemList">
    <li>Accommodation for 12 nights (an extra night from previous years!)</li>
    <li>Breakfast, light lunch, main dinner</li>
    <li>1 group pick-up from London Heathrow</li>
    <li>1 group drop-off to Manchester airport</li>
    <li>Transportation throughout the UK</li>
    <li>All arranged company visits</li>
    <li>All arranged cultural activities</li>
    <li>All classes, workshops and presentations</li>
  </ul>
  <h4>This does not include:</h4>
  <ul class="itemList">
    <li>Extra snacks or food outside of arranged meals</li>
    <li>Transportation from/to any location other than arranged airport pick-up/drop offs</li>
    <li>Souvenirs and shopping</li>
  </ul>
</div>    
{% endblock %}
