{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Guidance Counselors & Career Advisors</h2>
<h4>Each year, we invite interested Guidance Counselors to join the Global Paths Summer Programme. For 2015, we have 2 - 4 Counselor places available.<br></h4>

<h3><strong>A few reasons why you may be interested... </strong><h3>
<h4>
  <ul>
  	<li> Travel to 7 - 9 different UK university campuses, living on 4 campuses (King's College London, Bath University, Birmingham University and Manchester University). 
  	<li> Meet with Admissions Officers at each university - we arrange individual workshops for Counselors and Admissions Officers too.
    <li> Meet with experts in the field of UK higher education. Global Paths is unbiased towards any university so we offer advice to support you with helping students navigate through university marketing, in particular UK universities.
    <li> Opportunity to meet and mentor high school students from across the globe. 
  </ul>
</h4>

<h3><strong>What we ask of GPS Guidance Counselors </strong><h3>
<h4>
	Each Counselor will bring different perspectives and skills to GPS and that's just what we want! However, we ask that every Counselor assists with:
  <ul>
  	<li> Individual student mentoring. Alongside the Life Project workshops, work with individuals and small groups to assist with their project.

    <li> Assist with supervision of the group throughout the programme. We travel a lot and visit a lot of different places. Whilst visiting all of the universities, organisations..we ask Guidance Counselors to work with our 2 Programme Assistants to help supervise students and ensure that the group is safe and happy at all times. 

    <li> Help to deal with any student issues throughout the programme.
  </ul>

   Other tasks that Guidance Counselors can get involved with:
  <ul>
  	<li> Assistance with the Life Project presentations. For example, presenting on: 'Deciding what kind of career is right for you' or 'Specific differences between US and UK education'

    <li> Assistance with the Enterprise Project. For this, students work in small groups to come up with an enterprise plan. Often Counselors can assist students with their project (alongside the workshops)
  </ul>
    If there are other things you would like to be involved with, let us know!
</h4>

<h3><strong>Counselor Costs </strong><h3>
<h4>
	The cost of joining the programme as a counselor is £985. This covers:<br><br>

	Accommodation in Student Halls of Residence:
  <ul>
  	<li>3 nights at King's College London
 	<li>4 nights at Bath University
	<li>2 nights at Birmingham University
	<li>4 nights at Manchester University
  </ul>
	Breakfast, light lunch and dinner with the group each day<br><br>

	Entrance into all company visits:
  <ul>
	<li>Jaguar Land Rover
	<li>Cadbury Chocolate
	<li>Manchester United
  </ul>

	All university visits and meetings with Admissions Officers<br><br>

	Transport throughout the UK<br><br>

 	It does not cover:
  <ul>
  	Flight to and from the UK<br><br>
  	
	Any extra days/nights that you choose to stay before or after the programme<br><br>
	
	Any extra snacks/items you choose to buy throughout the programme<br><br>
	
  </ul>
</h4>
  

<h3><strong>Dates </strong><h3>
<h4>
	<ul>
	Sunday 19th July all day : Guidance counselors and staff arrival into London Heathrow 
	Sunday 19th July, 7pm: Welcome dinner for staff and counselors<br><br>
	
	Monday 20th July: Students arrive into London Heathrow<br><br>
	
	Monday 20th July - Saturday 1st August: Summer programme schedule<br><br>
	
	Saturday 1st August: Guidance counselors, staff and students departure from Manchester airport<br><br>
	
	</ul>
</h4>

<h3><strong>Apply to join us! </strong><h3>
<h4>
If you'd like to join us for GPS 2015, please complete the application form below.<br>

Once we receive this, we'll be in touch with you to set up a Skype call to discuss it.

</h4>

<br><br>
<div>
  <iframe class="embeddoc" src="https://docs.google.com/forms/d/180-3ALyyf-EOY5Vap99-MYNyagODKZdGKBhZNsBhsF4/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</div>
{% endblock %}



