{% extends "base.html" %}

{% block content %}
  <div class="summary">
        <h2 class="title">Cultural Experience</h2>
        <h4>GPS students gain a unique combination of cultural experiences:<br><br>
          <div class="blueTitle">British Culture</div>
          <p>Embedded into the busy work schedule, we ensure that students gain a full immersion of British culture: The London walking tour, Harry Potter, fish & chips, Buckingham Palace, double-decker buses, Oxford, Sunday lunch, Croquet, Houses of Parliament, London eye, Big Ben...... are just some of GPS's British highlights!</p><br>
          <div class="blueTitle">Other cultures</div>
          <p>Each student is also in charge of teaching the group a fun activity from their home country. Developing leadership and public speaking skills, students gain insight into the different cultures of GPS and the most successful activity coordinator wins a prize!</p><br>
        </h4> 
  </div>
{% endblock %}

