{% extends "base.html" %}

{% block content %}
  <div class="summary">
        <h2 class="title">Develop Skills for Success</h2>
        <h4>Success in life is based on more than academic grades: The ability to work with different people, think independently and solve problems means you bring value to the world. The capacity to embrace new, communicate effectively and present professionally enables you to build strong relationships through life. 
<br>
The Global Paths Project, led by Professor Auckland, starts with a group brainstorm to discuss real problems you encounter and how to solve them.  Then, in small, mentored teams, you develop a comprehensive, professional solution to your chosen problem and present it to a panel of judges. 
<br>
Stepping out of your comfort zone like this gives you confidence, a sense of accomplishment and the skills and dedication to achieve your dreams! 
</p><br>
        </h4> 
  </div>
{% endblock %}

