{% extends "base.html" %}

{% block youtube %}
<div class="mainYoutube">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/hl2nSsGfNlY" frameborder="0" allowfullscreen></iframe>
  </iframe>
</div>
{% endblock %}

{% block content %}
  <div class="summary">
        <h2 class="title">Enterprise Project</h2>
        <h4>The Enterprise Project is about developing key skills that are essential to success. These include innovation, teamwork, communication and presentation skills.<br><br>
        <div class="blueTitle">Identifying a problem, developing a solution</div>
        At the start of the course, Professor Auckland leads a brainstorm session where students suggest different problems that they could work on solving. Following this, students split into small groups depending on their interests and chosen problems to solve. With workshops and expert mentoring, each small group is taken through a step-by step process to help them reach a viable solution.<br><br>
        <div class="blueTitle">Professional presentations</div>
        At the end of the programme, each group presents their enterprise project to a panel of judges at Manchester University. Projects are assessed on their viability and feasibility whilst students are assessed on their presentation and professional communication skills. Past projects have included: A universal plug adapter, convertible heeled shoe, a service for visually impaired people, an organisation that uses old computers to educate poor areas of the world, a healthy restaurant consulting group.<br><br>
        <div class="blueTitle">Global organisation visits</div>
        Alongside the workshops, students visit Land Rover, Cadbury Chocolate Factory and Manchester United Football Grounds. During these trips, they meet employees, tour facilities and experience what kind of people and processes make these large international organisations so successful. </h4>
  </div>    
{% endblock %}

