{% extends "base.html" %}

{% block content %}
  <div class="summary">
        <h2 class="title">Enterprise Project</h2>
        <h4>The Enterprise Project is about developing key skills that are essential to success. These include innovation, teamwork, communication and presentation skills.<br><br>
        Working in teams, students identify a problem and develop a solution. With workshops and mentoring from Professor Auckland and colleagues, students are taken through a step-by step process to help them reach a viable solution.<br><br>
        At the end of the programme, each group presents their enterprise project to a panel of judges at Manchester University. Projects are assessed on their viability and feasibility. Past projects have included: A universal plug adapter, convertible heeled shoe, a service for visually impaired people, an organisation that uses old computers to educate poor areas of the world, a healthy restaurant consulting group.<br><br>
        Alongside the workshops, students carry out three field trips to Land Rover, Cadbury Chocolate Factory and Manchester United Football Grounds. During these trips, they see how large international organisations innovate to solve problems on a daily basis. </h4>
  </div>    
{% endblock %}

