{% extends "base.html" %}

{% block content %}
<div class="summary">
  <h2 class="title">Payment</h2>
  <h4>Your £25 application fee and complete summer programme fees can be submitted either via bank transfer or PayPal.<br><br> 
  <strong>Bank transfer details:</strong> Please email us at hrauckland@globalpaths.co.uk to obtain this information.<br></h4>
  <strong>Online payment via PayPal:</strong><br><br>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="UPFEGDBRC9ZAQ">
    <table>
      <tr><td><input type="hidden" name="on0" value="GPS Programme Fees">Click on the fee that you wish to pay, 'Buy Now' and then type in the amount.</td></tr><tr><td><select name="os0">
      <option value="Application Fee">Application Fee </option>
      <option value="Enrollment Fee">Enrollment Fee </option>
      <option value="Summer Programme Fee">Summer Programme Fee </option>
      </select> </td></tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form> 
</div> 
{% endblock %}
