{% extends "slideshow_base.html" %}

{% block photos %}
<img src="photos/home1.png" id="slide-0" class="opaque" alt="xyz"/>
<img src="photos/home2.png" id="slide-1" alt="xyz"/>
<img src="photos/home3.png" id="slide-2" alt="xyz"/>
<img src="photos/home4.png" id="slide-3" alt="xyz"/>
<img src="photos/home5b.png" id="slide-4" alt="xyz"/>
{% endblock %}

{% block centerblock %}
<div class="introduction">
  <h3>GLOBAL PATHS HELPS STUDENTS IDENTIFY THEIR GOALS AND DEVELOP THE SKILLS TO ACHIEVE THEM.
  </h3>
  <h3>12 days. 5 UK cities. Global friendships. Real-life experience!
   </h3>
  </h3> July 20th - Aug 1, 2015
</div>

<div class="summary">
  <h4>The Global Paths Summer Programme (GPS) is an exciting, enriching programme for 14-17 year old students from across the world. <br><br><i>"What should I do after secondary school?" "What are my goals in life and how do I reach them?" <br>"What type of university is the best fit for me?" <br>"A degree alone isn't enough anymore. What real-life skills are needed to succeed?"</i> <br><br>Global Paths helps students to answer these questions and develop the skills necessary to succeed in any career. <br>There are three main components of the GPS programme. <br>
  </h4>
  <div class="gpsList cf">
  
    <div class="LifePlan"><a href="lifeplan"><strong>The Global Life Project</strong></a>
      <p>Taking a step back, reflecting on the big picture and articulating your life goals whilst living on 4 university campuses. Advice is provided by higher education experts and thriving professionals from different organisations who share their own inspiring career paths and tips to success.</p>
      <div class="readMore"><a href="lifeproject">Read more</a></div>

    </div>
    <div class="EnterpriseProj"><a href="enterpriseproject"><strong>The Global Enterprise Project</strong></a>
      <p>Identifying an issue in any field and developing a solution. Students are mentored by professionals to develop their solution and present it to a panel. <br>Problem-solving, teamwork, flexibility, communication, innovation and creativity are developed!</p>
      <div class="readMore"><a href="enterpriseproject">Read more</a></div>
    </div>
    <div class="Cultural"><a href="culture"><strong>A Cultural Experience</strong></a>
      <p>
        At the heart of GPS! We tour famous sights of London including Big Ben, Tower of London and Buckingham Palace. We also spend a day in Oxford, an afternoon in Lacock (where Harry Potter was filmed), play croquet and lots more!</p>
      <div class="readMore"><a href="culture">Read more</a></div>
    </div>
  </div>
</div>
{% endblock %}


{% block youtube %}
<div class="mainYoutube">
  <strong>A Tribute to GPS 2014!</strong>
  <iframe width="100%" height="100%" style="padding-top:5px" src="//www.youtube.com/embed/mp-fDSSb39A" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}

{% block rightyoutube %}
<div class="rightYoutube">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/a1NFgStPKjk" frameborder="0" allowfullscreen></iframe>
  <h5>View a student's perspective of the GPS 2014 programme.</h5><br><br>

</div>
{% endblock %}

{% block blog %}
<div class="blog">
  <strong>WATCH THIS SPACE</strong> -<br> GPS Blog coming soon!
</div>
{% endblock %}

