{% extends "base.html" %}

{% block content %}
<div class="summary">
  <h2 class="title">Global Life Project</h2>
  <h4>There are 3 aspects to the Global Life Project:<br><br>
    <div class="blueTitle">1. Self reflection</div>
    <p>What is your purpose, vision and passion? What are your innate skills? By answering these questions, students understand themselves better and have a clearer idea of what they want from the next few years after high school. Workshops from professionals together with one-to-one discussions help students to reflect and evaluate.</p><br>
    <div class="blueTitle">2. University experience</div>
    <p>Students live on 4 UK University campuses. These are: King's College London, The University of Bath, The University of Birmingham and The University of Manchester. Students also have the chance to visit London School of Economics (LSE), Bath Spa University and Oxford University. At each university, they meet Admissions officers and experience the different kind of student environment offered by each university. In parallel with this, students learn about the larger context of higher education in the US and the UK, gaining insight into the goals of higher education institutions, the different application processes and how to ensure they find the right university for themselves.</p><br>
    <div class="blueTitle">3. My Career Path</div>
    <p>Professionals from different organisations share their career paths and discuss honestly how they have achieved their career goals. By talking with individuals, students gain insight into different careers and see how successful professionals have got to where they are. Students will relate to speakers and be able to identify particular kinds of career or organisation that are right for them. Speakers include:
    Shubhie Panicker, Software Engineer, Google Headquarters, California
    Tony Stimson, Channel Partner Manager, IBM, UK
    Bert Dorazio, Head of Organisational Development, North America, Nestle Purina. 
    Gwyneth McCormack, CEO, Positive Eye. </p>
  </h4> 
</div>    

{% endblock %}
