{% extends "base.html" %}

{% block content %}
<div class="summary">
  <h2 class="title">Global Life Plan</h2>
  <h4>There are 3 aspects to the Global Life Plan:<br><br>
    <div class="blueTitle">1. Self reflection</div>
    <p>What is your purpose? What is your vision? What are your innate skills? What is your passion? By answering these questions, students understand themselves better and have a clearer idea of what they want from the next few years after high school. Workshops from professionals together with one-to-one discussions help students to reflect and evaluate.</p><br>
    <div class="blueTitle">2. Higher education experience</div>
    <p>Students live at 4 UK Universities: London School of Economics (LSE), University of Bath, University of Birmingham and University of Manchester. They meet Admissions officers and experience student life on each campus and in each city. Students learn about the larger context of higher education in the US and the UK, gaining insight into the goals of higher education institutions, the different application processes and how to ensure they find the right university for themselves.</p><br>
    <div class="blueTitle">3. My Career Path</div>
    <p>Professionals from organisations including Google and IBM share their career paths and discuss how they achieved their career goals. By talking with individuals, students gain insight into different careers and see how successful professionals have got to where they are.</p>
  </h4> 
</div>    

{% endblock %}
