{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Schedule</h2>
GPS is for students aged 15-17 years, interested in preparing for life after high school. You can be interested in any subject, career or university. Our team has extensive experience of US as well as UK universities and can offer guidance on both. 
<p>
We explore 4 UK cities and 6 universities travelling by minibus to each one. We stay in university accommodation in London, Bath and Manchester. Rooms vary but are usually single ensuite rooms with shared kitchen and lounge. Experienced staff are with you 24/7.
<p>
All students are asked to arrive at London Heathrow airport. A GPS staff member will greet you in the arrivals area and take you to the accommodation via the London Underground.
<br><br>

<iframe class="embeddoc" src="https://docs.google.com/document/d/1bNVkeVy_tgfuOKbqRDx0zLgdSFadRMXIBFFnlwNlcyE/preview?usp=sharing">
</iframe>  
</div>
{% endblock %}
