{% extends "base.html" %}

{% block content %}
<div class="summary">
  <h2 class="title">Your safety comes first </h2>
  <h4>The UK is a very safe country. However, your wellbeing is our number one priority:
This could be your first international trip alone - it can be exciting but perhaps unfamiliar.  You’ll receive a warm welcome from a Global Paths team member as soon as you enter Heathrow Arrivals and for the next 10 days, you’ll be fully supported by the team. 

We always travel together as a group. Student accommodation is safe and secure and there is a Global Paths team member present at all times. Your parents can call anytime to speak with you or us. 

In the unlikely event of illness, we will immediately call your parents and organise medical care as required. Prior to arrival, we’ll ask you to  let us know about any medical conditions, food allergies or other special requirements. We will also ask for confirmation of your travel insurance.

On departures day, we take you to the airport, help you check in,  accompany you to the departures area and say goodbye just before you enter security.  

Global Paths provides you with a taster of student life with the safety and care of home.
</h4>
</div>
{% endblock %}
