<!doctype html>
{% include "head.html"%}
<body>
  <div class="wrapper cf testimonial">
      <div class="topBar"></div>
      {% include "header.html"%}

      <div class="summary" style="width:72%;margin-left:100px">
          <h2 class="title">What students and parents have to say ...</h2>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/TeodoraStoyanova.png">
            </span>

            <span class="testimonial" style="margin-top:30px" >
                <h3>Teodora Stoyanova, GPS 2014 student, Bulgaria</h3>
                <h4>"The GPS programme is really exceptional. It helped me define my vision and what I want to achieve in life; it gave me a taste of entrepreneurship and how an enterprise can be sustained and developed; to experience university life was unique ; the multicultural experience enriched me a lot, it really made me think and act more like a global citizen! 
                <p>I was really inspired by the motivational speakers, entrepreneurs, and all the people I've met and befriended during the GPS programme, they truly impacted me! These 2 weeks I spent in England felt as a whole month, that's how busy, entertaining and emotional it was!  
                <p>Another thing that impressed me a lot was how soon we all became friends, and started even feeling as a family! This programme is a fantastic experience of entrepreneurship, university life, travel and cultures, which all build up the character, enrich the mind and show how fundamental it is to be a thoughtful and globally engaged citizen! Thank you Ms. Auckland, for making it so meaningful and enriching for us! :)"
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial">
                <h3>Hiroe Nakamura, GPS 2014 parent, Belgium</h3>
                <h4>"Taiga was only14 when he joined GPS (he turned 15 during the programme) so we as parents were understandably a little apprehensive. 
                <p>However, on the second day, he called us to say: "Dad, I am so happy to be here!". 
                He was well cared for, he made very nice friends, met wonderful people and this experience changed his attitude. 
                <p>When he returned home, he had gained immensely in confidence and had a clearer idea of what he wanted to do in the future.  We thank all members of GPS for their effort to make the program so successful and we hope more pupils can share this valuable experience."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/AndreaSolis.png">
            </span>
            <span class="testimonial">
                <h3>Andrea Solis, GPS 2014 student, Mexico</h3>
                <h4>"Visiting Universities and talking with the admissions staff was the best part of GPS for me.  I believe this is something truly unique about GPS as it also separately prepares you for the application process and through the Life Project you learn a lot about yourself. I discovered what I wanted to do with my life, and why I wanted to do it. The 'why' is something that I had never thought of before and it is a vital component.  
                <p>Also talking with employees from IBM, Google and Nestle was great as I was able to learn more about how the real world works and how to best prepare for it. From a business perspective, talking to Cadbury's and Land Rover were also very helpful as one would be able to understand more about how they operate and truly understand corporations better. 
                <p>Talks regarding our purpose were extremely helpful. They helped me understand how to plan for my future and that is something that people at my age find hard to begin thinking about."
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3>Lyubomir Stoyanov, GPS 2014 parent, Bulgaria</h3>
                <h4>"It's difficult to express in a few sentences just how much Teodora gained from her time with the GPS program.
                <p>After the program, my daughter had started to understand the world better; the responsibility of decision makers and how skilled and organised these people need to be. She saw from the inside, just how enterprises can be invented, created, developed and managed. 
                <p>From a university perspective, she got an excellent insight into lots of universities making her choice of university easier. She now knows what she is looking for in a university.
                <p>This is by no means everything but it covers just a few topics for which I am grateful to GPS!"
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/LauraMedlicott.png">
            </span>
            <span class="testimonial">
                <h3>Laura Medlicott, GPS 2014 student, Honduras</h3>
                <h4>"I think the best part was learning what each city and university was like by walking through them ourselves - we really got a good grasp of life on campus and off campus.   
                <p>Second was the Enterprise and Life Projects, which really helped in giving us a clearer focus on what we want out of life  (All this while making us into little entrepreneurs!).  
                <p>Finally the aspect of meeting new people, making friends and memories, was also vital in making the trip super enjoyable!"
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3>Gabriella Holland, GPS 2014 parent, India</h3>
                <h4>"As parents, we couldn’t have been happier with the outcome of Finbarr’s trip with Global Pathways last summer.  He was presented with an incredible opportunity to find out more about University life from the inside.  
                <p>Finbarr gained a greater sense of independence, and certainly came back with a far better idea of what he would like to study at University and which universities he might be interested in applying to.
                <p>Overall he had a better focus, and I think the icing on the cake was the personal project.  He was clearly enthused about this part of the programme and I think he began to understand the relevance and application of some of his learning to date."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/CarolYe.png">
            </span>
            <span class="testimonial">
                <h3>Carol Ye, GPS 2013 student, China</h3>
                <h4>"Being able to talk with Helen and Ofelia one-to-one allowed me to actually say my goals out load and share them; from this I have realized what short term targets I need to set for myself in order to achieve my dreams."    
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3>Gemma Gemayel, GPS 2014 parent, Malaysia</h3>
                <h4>"We were really pleased with your Global paths program, particularly, allowing children ages 14-17, empowering them to develop their own business ideas and presenting them for proper and professional evaluation.  It was most impressive.  As parents, we have always tried to teach our children to be grounded and to be driven.  
                <p>We want to ensure that they get educated, learn to be independent, confident, and open to different culture and norms.  I believe that Global Paths has enhanced all these values on Simona.
                <p>More importantly, having students learn to plan, set goals, and work as a team made them reflect on their future relative to what each one of them would want to accomplish."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/Santiago.png">
            </span>
            <span class="testimonial">
                <h3>Santiago Cardenas, GPS 2012 student, Columbia</h3>
                <h4>"It was great to have the chance to create your own business... and traveling through the UK with new friends was a lot of fun!"   
                </h4>
            </span>
          </div>
          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/ElenaMorchio.png">
            </span>
            <span class="testimonial">
                <h3>Elena Morchio, GPS 2013 student, Italy</h3>
                <h4>"I really loved the fact that we were able to sense university in a much more practical way and also the fact that we had the opportunity to meet and talk with admissions people."     
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/Fabiana.png">
            </span>
            <span class="testimonial">
                <h3>Fabiana Pineda, GPS 2012 student, Honduras</h3>
                <h4>"GPS helped me define my vision. I loved the Business Immersion as I got to learn how a business person thinks while developing an idea. For me the highlight of the program was getting to meet people from different countries and visiting so many places from which I always learned something new.
                <p>This was an experience I will most definitely never forget!"
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/ElenaGagovska.png">
            </span>
            <span class="testimonial">
                <h3>Elena Gagovska, GPS 2013 student, Macedonia</h3>
                <h4>"Everything was really amazing! I conquered my fear of public speaking, I loved the discussions and I really enjoyed writing the life project as it helped me figure out a lot of things about my life and my future career."
                </h4>
            </span>
          </div>


      </div>
  </div>
</body>
