<!doctype html>
{% include "head.html"%}
<body>
  <div class="wrapper cf testimonial">
      <div class="topBar"></div>
      {% include "header.html"%}

      <div class="summary" style="width:72%;margin-left:100px">
          <h2 class="title">What students and parents have to say ...</h2>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/TeodoraStoyanova.png">
            </span>

            <span class="testimonial" style="margin-top:30px" >
                <h3 class="blueText">Teodora Stoyanova, GPS 2014 student, Bulgaria</h3>
                <h4>"The GPS programme is exceptional. It helped me define my vision and what I want to achieve in life. Experiencing  university life was unique and the multicultural experience enriched me a lot - it really made me think and act more like a global citizen! 
                <p>I was really inspired by the workshops and all the people I met and befriended during the GPS programme. I was amazed at how soon we all became friends and started feeling like a family! This programme is a fantastic experience of university life, travel and cultures, which all build up the character, enrich the mind and show how fundamental it is to be a thoughtful and globally engaged citizen! Thank you Ms. Auckland, for making it so meaningful and enriching for us! :)"
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial">
                <h3 class="orangeText">Hiroe Nakamura, GPS 2014 parent, Belgium</h3>
                <h4>"Taiga was only 14 when he joined GPS (he turned 15 during the programme) so we as parents were understandably a little apprehensive. 
                <p>However, on the second day, he called us to say: "Dad, I am so happy to be here!". 
                He was well cared for, he made very nice friends, met wonderful people and this experience changed his attitude. 
                <p>When he returned home, he had gained immensely in confidence and had a clearer idea of what he wanted to do in the future.  We thank all members of GPS for their effort to make the program so successful and we hope more pupils can share this valuable experience."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/AndreaSolis.png">
            </span>
            <span class="testimonial">
                <h3 class="blueText">Andrea Solis, GPS 2014 student, Mexico</h3>
                <h4>"Visiting Universities and talking with admissions staff was the best part of GPS for me.  Alongside this, I became prepared for the application process and learned a lot about myself - I discovered what I wanted to do with my life, and why I wanted to do it. The 'why' is something that I had never thought about before and it is a vital component.  
                <p>Talks regarding our purpose were extremely helpful. They helped me understand how to plan for my future and that is something that people at my age find hard to begin thinking about."
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3 class="orangeText">Lyubomir Stoyanov, GPS 2014 parent, Bulgaria</h3>
                <h4>"It's difficult to express in a few sentences just how much Teodora gained from her time with the GPS program.
                <p>After the program, my daughter had started to understand the world better; the responsibility of decision makers and how skilled and organised these people need to be. She saw from the inside, just how solutions to problems can be invented, created, developed and managed. 
                <p>From a university perspective, she got an excellent insight into lots of universities making her choice of university easier. She now knows what she is looking for in a university.
                <p>This is by no means everything but it covers just a few topics for which I am grateful to GPS!"
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/LauraMedlicott.png">
            </span>
            <span class="testimonial">
                <h3 class="blueText">Laura Medlicott, GPS 2014 student, Honduras</h3>
                <h4>"I think the best part was learning what each city and university was like by walking through them ourselves - we really got a good grasp of life on campus and off campus.   
                <p>Second, were the workshops we had that helped us to gain a clearer focus on what we want out of life as well as develop really important life skills.
                <p>Finally the aspect of meeting new people, making friends and memories, was also vital in making the trip super enjoyable!"
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3 class="orangeText">Gabriella Holland, GPS 2014 parent, India</h3>
                <h4>"As parents, we couldn’t have been happier with the outcome of Finbarr’s trip with Global Pathways last summer.  He was presented with an incredible opportunity to find out more about University life from the inside.  
                <p>Finbarr gained a greater sense of independence, and certainly came back with a far better idea of what he would like to study at University and which universities he might be interested in applying to.
                <p>Overall he had a better focus, and I think the icing on the cake was the personal project.  He was clearly enthused about this part of the programme and I think he began to understand the relevance and application of some of his learning to date."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/TaigaNakamura.png">
            </span>
            <span class="testimonial">
                <h3 class="blueText">Taiga Nakamura, GPS 2014 student, Belgium</h3>
                <h4>"I enjoyed the final presentations for the project and found this experience extremely useful. 
                Since I was working with a partner, I enjoyed sharing ideas and working together on our Powerpoint presentation. 
                <p>I also found the different advice given by the judges useful and I believe that this experience will be helpful for me in the future."    
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="testimonial" >
                <h3 class="orangeText">Gemma Gemayel, GPS 2014 parent, Malaysia</h3>
                <h4>"We were really pleased with your Global Paths program. It empowered teenagers to develop their own ideas and present them for proper and professional evaluation.  It was most impressive.  
                
                <p>We want to ensure that our children learn to be independent, confident, and open to different cultures and norms.  I believe that Global Paths has enhanced all these values on Simona.
                
                <p>Furthermore, having students learn to plan, set goals, and work as a team made them reflect on their future relative to what each one of them would want to accomplish."
                </h4>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/ElenaMorchio.png">
            </span>
            <span class="testimonial">
                <h3 class="blueText">Elena Morchio, GPS 2013 student, Italy</h3>
                <h4>"I really loved the fact that we were able to sense university in a much more practical way and also the fact that we had the opportunity to meet and talk with admissions people."     
                </h4>
            </span>
          </div>

          <div class="cf">
            <span class="photo" style="text-align:center">
              <img src="photos/ElenaGagovska.png">
            </span>
            <span class="testimonial">
                <h3 class="blueText">Elena Gagovska, GPS 2013 student, Macedonia</h3>
                <h4>"Everything was really amazing! I conquered my fear of public speaking, I loved the discussions and it helped me figure out a lot of things about my life and my future career."
                </h4>
            </span>
          </div>


      </div>
  </div>
</body>
