{% extends "base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Visas</h2>
<h4>For students outside the EU or EEA who need visas to enter the UK, we can provide invitations to allow you to enter the country for the duration of the summer programme on a student visitor visa.  Please make it clear that you will need one as soon as you sign up so that we are aware.<p>

<h2 class="title">Refunds</h2>
When you sign up to the course, we ask you to pay a non-refundable deposit of £900 to reserve your place on the course. It is non-refundable as it covers the deposits (accommodation, minibus, meals) that we have to make for the course. 

If for any reason you cannot attend the summer programme, we will refund you the full fees, minus the deposit, unless you cancel within 30 days of the programme starting, in which case, unfortunately we cannot refund any of the fees. <br><br>

</h4>

</div>
{% endblock %}
