
{% extends "md/base.html" %}

{% block maincontent %}

  <div id="slide-container" class="slideshow-section imageOne">
        <!-- slider navigation -->
        <div class="nav-slider"> 
          <ul> 
            <li><a href="#" id="1" class="selected" onClick="slide_click(this.id)">1</a></li> 
            <li><a href="#" id="2" onClick="slide_click(this.id)">2</a></li> 
          </ul> 
        </div>
  </div>

  <div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--3-col-phone mdl-card mdl-shadow--3dp">
      
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Get going on Android</h4>
      </div>
      <div class="mdl-card__media">
        <img src="images/more-from-1.png">
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
      </div>
      <div class="mdl-card__actions">
          <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
          Make the switch
          <i class="material-icons">chevron_right</i>
          </a>
      </div>
      </div>

    fslsdjf;ldjf
  	sldgjd;lsjglsjg
  </div>

{% endblock %}
