
{% extends "md/base.html" %}

{% block maincontent %}

  <div id="slide-container" class="slideshow-section studentDetailHero">
    <div class="slide-signup">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Sign up
      </button>
      <div class="slide-signup-spacer">
      </div>
    </div>   
    <div class="slide-title">Summer Programme 2016
      <div class="slide-subtext">smooth the transition to university</div>
    </div>
  </div>

  <div class="studentdetail-section">
    <div class="studentdetail-section-text">
      <div class="mdl-typography--font-light mdl-typography--display-1">Customised by you, for you</div>
        <p class="studentdetail-section-subtext">
          Put the stuff that you care about right on your home screen: the latest news, the weather or a stream of your recent photos.
          
          <br>
        </p>
      </div>
    <div class="studentdetail-section-image"></div>
  </div>    

  <!-- Accent-colored raised button -->
  <div class="signup-footer-action">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
      Sign up for Summer Programme 2016
    </button>
  </div>

{% endblock %}
