{% extends "student/base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Sign Up</h2>
<h4>It’s easy to apply for Global Paths 2016. Here's what to do:<br></h4>

<p><strong>Sign up before 1st March for a 20% discount! The total cost is £2,316:</strong><br>
   Please complete the <span class="blueTitle"><a href="applicationform" class="blueTitle">sign up form</a></span> and submit your deposit of £50 via PayPal or bank transfer. Please submit the remaining balance by 1st March, 2016.
   

<p><strong>Sign up after 1st March and the total cost is £2895:</strong><br>
   Please complete the <span class="blueTitle"><a href="applicationform">sign up form</a></span> and submit full payment  of £2,895 via Paypal or bank transfer. The deadline to sign-up is 15th June, 2016. 

 <p>Once you've signed up and joined the 2016 programme, we would love to meet you via Facetime, Skype or Google Hangout to answer any questions you or your parents may have.<br><br>

  <p><strong>Secure online payment via PayPal:</strong><br>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="BXPZQJUG6TKBW">
	<table>
	<tr><td><input type="hidden" name="on0" value="Amount">Amount</td></tr><tr><td><select name="os0">
		<option value="Deposit">Deposit £900.00 GBP</option>
		<option value="Early Bird Balance">Early Bird Balance £1,416.00 GBP</option>
		<option value="Early Bird Complete Payment">Early Bird Complete Payment £2,316.00 GBP</option>
	</select> </td></tr>
	</table>
	<input type="hidden" name="currency_code" value="GBP">
	<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

</div>
{% endblock %}
