<!doctype html>
{% include "student/head.html" %}
<body>
  <div class="wrapper cf {{page}}">
    <div class="topBar"></div>
    {% include "student/header.html" %}
    <div class="panel cf">
      <div class="mainpanel">

      {% block youtube %}
      {% endblock %}

      {% block singlephoto %}
      {% endblock %}

      {% block content %}
      {% endblock %}
      
      </div>
      {% include "student/rightpanel.html" %}
    </div>
    {% include "student/footer.html" %}
  </div>
</body>
