<!doctype html>
{% include "student/head.html"%}

<div class="wrapper cf {{page}}">
    <div class="topBar"></div>

<header class="cf">
 <div class="topbar"></div>
 <div class="logo"><a href="/"><img class="logoImg" src="photos/logo.png"></a></div>
</header>

<div class="summary" style="width:82%">
  <div class="cf">
            <span class="landingphoto">
              <a href="/studenthome"><img src="photos/indexstudenthome.png" style="margin-top:20px"></a>
              <a href="/counselorhome"><img src="photos/indexcounselorhome.png" style="margin-top:20px"></a>
            </span>
  </div>
</div>

{% include "student/footer.html"%}
