{% extends "student/base.html" %}

{% block content %}
<div class="summary">
<h2 class="title">Scholarship</h2>
<h4>We offer scholarships of up to £500 per student. They are offered to students who demonstrate the skills and character to be a Global Paths Ambassador.<br></h4>

<h3><strong>What is a Global Paths Ambassador?</strong></h3>
<h4>A Global Paths Ambassador is a student who has attended Global Paths and  informs other students about the programme through social media, presentations, posters, competitions, discussion and lots more!
</h4>

<h3><strong>How can I apply for a scholarship?</strong></h3>
<h4>If you are interested in a scholarship, submit a short essay outlining why you would be a good ambassador for Global Paths and what ideas you would implement to promote Global Paths once you complete the programme. Think of new, creative ways to inform other like minded students about the programme. Submit your essay in an email to hrauckland@globalpaths.co.uk along with your online sign up form.
</h4>
</div>

{% endblock %}
