{% extends "student/base.html" %}

{% block singlephoto %}
<img src="photos/studentlife.png" />
{% endblock %}

{% block content %}
<div class="summary">
  <h2 class="title">Prepare for Student Life</h2>
  <h4>For many, moving to university is a huge change - independence, responsibility, new friends, studies, accommodation, culture and city. It’s a lot to handle and it’s tough to prepare alone. 
<br><br>
The Global Paths Student Programme is a gentle stepping stone between school and university. It’s a selection of experiences that represent UK student life: Live in student accommodation, make new friends, discover different cultures, take classes and meet university students. 
<br><br>
It’s exciting, bonding, life changing and fun. You’re treated like an adult so you develop independence, flexibility and maturity - essential skills for student survival!
<br><br>
Rest assured, you’re in safe hands. Our staff to student ratio is 1:4.  Trained and experienced supervisors and teachers are there 24/7 to ensure your safety, comfort and happiness.
 </p>
    </ul>
  </h4> 
</div>    

{% endblock %}
