

.photo {
	float:left;
	width: 30%;
	margin-top: 20px;
	margin-right: 40px;
}


.bio {
	float:left;
	padding-left: 50px;	
	width: 62%;

}

.photo img {
	width: 100%;
	/*
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 0 4px #444444;
	-moz-box-shadow: 0 0 4px #444444;
	box-shadow: 0 0 4px #444444;
	*/

}

.photoPanelist {
	float:left;
	width: 25%;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px
}
