

.slideshow {
}

.slideshow img {
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	opacity: 0;
}

.hidden {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.slideshow .imgs { 
    padding: 0;
    margin: 0;   
}

.slideshow img {
	position: absolute;  
	opacity: 0;
    transition: opacity 1s ease-in-out; 
}

.slideshow img.opaque { 
	opacity: 1;
}

.nav-slider {
    width: 100%;
    top: 100%;
    text-align: center; 
    padding-top: 15px; 
} 
.nav-slider li { 
    display: inline; 
    margin: 0 5px; 
} 
.nav-slider li a { 
    background: #ddd; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.25);
    display: inline-block; 
    height: 11px; 
    width: 11px; 
    text-indent: -9999px; 
}
.nav-slider li a { 
    transition: all 300ms ease-out; 
} 
.nav-slider li a:hover { 
    background: $fontcolor-cyan; 
    transition: all 100ms ease-in; 
}
.nav-slider li a:active { 
    background: $fontcolor-cyan; 
    transition: all 50ms; 
}
.nav-slider li a.selected { 
    background: $fontcolor-cyan; 
}

.leftblock {
    width: 77%;
    float: left;
}

.rightblock {
    width: 23%;
    float: right;
}