
.mainpanel {
	width: 80%;
	float: left;
}

.rightpanel {
	width: 20%;
	float: right;
	margin-top: 5px;
}

.rightpanel li {
	list-style: none;
	display: block;
}

.rightpanel li a {
	display: block;
	padding: 12px 8px;
	text-decoration: none;
	//border-left: 1px solid $fontcolor-cyan;
}

.rightpanel li a:hover {
	color: $fontcolor-cyan;
	transition: color 0.3s ease;
	//border-left: 5px solid $fontcolor-cyan;
	//border-top: 5px solid transparent;
	//border-bottom: 5px solid transparent;
}


.introduction {
	padding: 0px 20px 0px;
	text-align: center;
	color: $fontcolor-grey;
}

.summary {
	margin: 0px 40px 40px;
}

.summary .overviewList li {
	display: inline-block;
	padding: 8px 25px;
}

.gpsList a {
	color: $fontcolor-cyan;
}
/*
.summary li a:visited {
	color: #636363;
}*/
.summary .middle {
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
}


.LifePlan,.EnterpriseProj,.Cultural {
	width: 30.66%;
	position: relative;
}

.LifePlan,.EnterpriseProj {
	float: left;
	margin-right: 4%;
}  
.Cultural {
	float: right;
	display: inline-block;
}

.readMore a {
	font-size: 13px;
	padding-right: 17px;
	background: url("../photos/readmore.png") no-repeat scroll right 3px transparent;
}
