{% extends "counselor/counselor_slideshow_base.html" %}

{% block photos %}
<img src="photos/counselor/home1.png" id="slide-0" class="opaque" alt="xyz"/>
<img src="photos/counselor/home2.png" id="slide-1" alt="xyz"/>
<img src="photos/counselor/home3.png" id="slide-2" alt="xyz"/>
<img src="photos/counselor/home4.png" id="slide-3" alt="xyz"/>
<img src="photos/counselor/home5.png" id="slide-4" alt="xyz"/>
{% endblock %}

{% block centerblock %}
<div class="introduction">
  <h3>
  <p>July 17 - July 24, 2016
  <p>8 days. 5 cities. 8 universities.
  </h3>
</div>

<div class="summary">
  <h4>Get a taster of student life at different UK universities - live in student accommodation, explore the cities, talk with staff and meet current students.
  <p>Learn about the UCAS process, foundation degrees, how to write a good personal statement and UK university application tips.
  <p>And we'll share with you our system for categorising UK universities  - ensuring you experience a university from each category.
  <p>Gain clarity on UK universities so that you can support your students in the best way possible with their UK applications. 
  </h4>

  <div class="gpsList cf">
  
    <div class="LifePlan"><a href="counselordetail#studentlife"><strong>Experience student life at different UK universities</strong></a>
      <p>Advising students on UK higher education can be a challenge. Establishing if a university is academically right for someone can be done from afar but sensing if it is the right culture, community and location is hard to do without some first-hand experience.</p>
      
      <div class="readMore"><a href="counselordetail#studentlife">Read more</a></div>
    </div>

    <div class="EnterpriseProj"><a href="counselordetail#universitychoice"><strong>Identify the different UK universities and what's best for your students</strong></a>
      <p>The UK offers over 100 different universities varying in quality, reputation and environment. These options can be categorised according to academic level, environment and location. 
      
      <div class="readMore"><a href="counselordetail#universitychoice">Read more</a></div>
    </div>

    <div class="Cultural"><a href="counselordetail#applicationprocess"><strong>Understand the UK University application process</strong></a>
      <p>There are some specific rules and tips to the UK university application process and knowing these can be the difference between acceptance and rejection for a student. 

      <div class="readMore"><a href="counselordetail#applicationprocess">Read more</a></div>
    </div>

  </div>

</div>
{% endblock %}



