{% extends "counselor/counselor_slideshow_base.html" %}

{% block photos %}
<img src="photos/counselor/home1.png" id="slide-0" class="opaque" alt="xyz"/>
<img src="photos/counselor/home2.png" id="slide-1" alt="xyz"/>
<img src="photos/counselor/home3.png" id="slide-2" alt="xyz"/>
<img src="photos/counselor/home4.png" id="slide-3" alt="xyz"/>
<img src="photos/counselor/home5.png" id="slide-4" alt="xyz"/>
{% endblock %}

{% block centerblock %}
<div class="introduction">
  </h3> July 17 - July 24, 2016
</div>

<div class="summary">
  COMING SOON!
</div>
{% endblock %}



