{% extends "counselor/counselor_base.html" %}

{% block singlephoto %}
{% endblock %}

{% block content %}
<div class="summary">
  <h2 class="title"><a name="studentlife">Experience student life at different UK universities</a></h2>

  <p>Advising students on UK higher education can be a challenge. Establishing if a university is academically right for someone can be done from afar but sensing if it is the right culture, community and location is hard to do without some first-hand experience.</p>

  <p>With the Global Paths Counselor Programme, you visit a range of universities across the UK. You live in student accommodation, tour campuses, meet current students and explore the cities.</p> 

  <p>You get a true feel for the kind of student that matches different types of university and city - equipping yourself with first-hand experience to share with your students.</p>
  <br>

  <h2 class="title"><a name="universitychoice">Identify the different UK universities and what's best for your students</a></h2>

  <p>The UK offers over 100 different universities varying in quality, reputation and environment. These options can be categorised according to academic level, environment and location. 

  <p>We carefully select universities to visit to ensure each category is represented - providing you with a complete experiential overview of UK higher education. 
 
  <p>We discuss with you our categorisation system so that you can use it when you’re back home to identify if a university is right for a student.  

  <p>With our categorisation system paired with experience of each category, you are equipped to help students recognise which UK university is right for them.</p>
  <br>

  <h2 class="title"><a name="applicationprocess">Understand the UK University application process</a></h2>
  <p>There are some specific rules and tips to the UK university application process and knowing these can be the difference between acceptance and rejection for a student. 

   <p>Throughout the programme, we offer workshops, led by experts, on topics such as the UCAS process, the Foundation year and Writing a good personal essay. 

   <p>As well as this, you have the chance to chat informally with UK university admissions officers, to ask them questions and to learn what they look for in their applicants.        
   </p>

</div>    

{% endblock %}
