
/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
	background-color: #e5e5e5;
	font-style: normal;
	font-weight: normal;
	//color: $fontcolor-grey;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
	font-family: 'Roboto',Helvetica,sans-serif;
	font-style: normal;
	font-weight: normal;
}


