
.gps-layout .mdl-layout__header,
.gps-layout .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
    /* This background is dark, so we set text to white. */
    color: white;
    background-color: $theme-grey;
    font-size: medium;
}

.mdl-layout-title {
    font-size: 30px;
}

.mdl-layout__drawer-button {
  	/*padding-top: 15px;*/
}


