// Nav Buttons on slideshow
.nav-slider {
	padding-top: 600px;
    width: 100%;
    text-align: center; 
} 
.nav-slider li { 
    display: inline; 
    margin: 0 5px; 
} 
.nav-slider li a { 
    background: #ddd; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  -o-border-radius: 20px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.25);
    display: inline-block; 
    height: 11px; 
    width: 11px; 
    text-indent: -9999px; 
}
.nav-slider li a { 
    transition: all 300ms ease-out; 
} 
.nav-slider li a:hover { 
    background: $theme-grey;
    transition: all 100ms ease-in; 
}
.nav-slider li a:active { 
    background: #00aeef;
    transition: all 50ms; 
}
.nav-slider li a.selected { 
    background: $theme-blue;
}

// Slideshow section
.slideshow-section {
    position: relative;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 641px) {
  .slideshow-section.imageOne { 
    background: url('../dist/img/slide1-large.jpg') center / cover;
  }

  .slideshow-section.imageTwo {
    background: url('../dist/img/slide2-large.jpg') center / cover;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  .slideshow-section.imageOne { 
    background: url('../dist/img/slide1-medium.jpg') center / cover;
  }

  .slideshow-section.imageTwo {
    background: url('../dist/img/slide2-medium.jpg') center / cover;
  }
}

@media screen and (max-width: 480px) {
  .slideshow-section.imageOne { 
    background: url('../dist/img/slide1-small.jpg') center / cover;
  }

  .slideshow-section.imageTwo {
    background: url('../dist/img/slide2-small.jpg') center / cover;
  }
}

// Slide text
.slide-title {
  margin: 5px;
  position: absolute;
  left:45%;
  top:52%;
  color: white;
  font-size: xx-large;
}

.slide-subtext {
  position: relative;
  padding: 10px;
  color: white;
  font-size: large;
}

// Cards for studentlife etc.
.home-card-image.mdl-card {
  width: 32%;
  height: 256px;
  text-align: center;
}

.mdl-card__title {
  padding-top: 60px;
  text-align: center;
  display: inline;
}

.mdl-card__title-text {
  color: white;
  display: inline;
}

.home-card-image .mdl-button {
  color: white;  
}

.studentlife-card {
  background: url('../photos/studentlife.png') center / cover;
}
.universitychoice-card {
  background: url('../photos/universitychoice.png') center / cover;
}
.developskills-card {
  background: url('../photos/developskills.png') center / cover;
}

.signup-action {
    text-align: center;
    margin: 0 auto;
}
